a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.entry:target {
    background-color: #ffa;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.wrapper {
height: 500px !important;
}