$primary_color: #D5C8B1;
$secondary_color: #DFDAB8;
$tertiary_color: #F0D5AF;

$additional_color_1: #EA754B;
$additional_color_2: white;

$font_color: black;
$bigger_font_size: 18px;
$font_size: 16px;
$smaller_font_size: 12px;

$small_device: 800px;

$navbar_height: 70px;