<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masquerade</title>
    {% include "components/../base/css.html" %}
</head>
<body class="bg-secondary">
    {% include "components/navbar.html" %}

    {{ prerender }}


</body>
<script>
    function toggle_new_form_button(){
        let f = document.getElementById("new_form_button");
        if (f.hasAttribute("hidden")){
            f.removeAttribute("hidden")
        }else{
            f.setAttribute("hidden", "hidden")
        }
    }
</script>
</html>