{% load compress %}
{% load static %}

<script src="{% static "htmx_min.js" %}"></script>

<script src="{% static "jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "popper.min.js" %}"></script>
<script src="{% static "bootstrap.min.js" %}"></script>

<link rel="stylesheet" href="{% static "bootstrap.min.css" %}" rel="stylesheet">
{#{% compress css %}#}
{#    <link type="text/x-scss" href="{% static "main.scss" %}" rel="stylesheet" media="screen">#}
{#    <link type="text/x-scss" href="{% static "forms.scss" %}" rel="stylesheet" media="screen">#}
{#    <link type="text/x-scss" href="{% static "navbar.scss" %}" rel="stylesheet" media="screen">#}
{#    <link type="text/x-scss" href="{% static "container.scss" %}" rel="stylesheet" media="screen">#}
{#    <link type="text/x-scss" href="{% static "gallery.scss" %}" rel="stylesheet" media="screen">#}
{#    <link type="text/x-scss" href="{% static "category_panel.scss" %}" rel="stylesheet" media="screen">#}
{#{% endcompress %}#}
