{% extends "base/prerender.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <div
        hx-get="/forms/categoryform"
        hx-target="#div_form"
        placeholder="Getting form..."
        onclick="toggle_new_form_button()"
    >
        Create new category
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Categories</h6>
        <div id="categories_list">
            {% for category in categories %}
                {% include "components/category_panel.html" with category=category %}
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}