{% load datetime_extras %}
{% load static %}

<div class="container"  id="{{ entry.id }}">
    <div class="div1">
        <img class="user_icon" src={{ entry.creator.identicon.url }}>
        <button onclick="add_reply({{ entry.id }})">reply</button>
    </div>
    <div class="div2" id={{ entry.id }}>

        <div class="container_title">
            {{ entry.creator }}: #{{ entry.id }}
        </div>
        <div class="container_content">
            <pre>{{ entry.with_links|safe }}</pre>
        </div>
        <div class="container_image">
            {% for file in entry.attached_files.all %}
                {% if file.is_image %}
                    {% if file.compressed_file %}
                        <img id="{{ file.id }}_compressed" onclick="toggle_resolution({{ file.id }})" src="{{ file.compressed_file.url }}">
                        <img id="{{ file.id }}_original" onclick="toggle_resolution({{ file.id }})" loading="lazy" src="{{ file.original_file.url }}" hidden>
                    {% else %}
                        <img id="{{ file.id }}_original" loading="lazy" src="{{ file.original_file.url }}">
                    {% endif %}
                {% elif file.is_video %}
                    <a href="/media/{{ file.original_file }}" download>{{ file }}</a> {{ file.original_file.size|sizify }}
                    <br>
                    <video width="400" preload="metadata" controls>
                        <source src="{{ file.original_file.url }}" type="video/mp4">
                        Cannot preview video
                    </video>
                {% else %}
                    <a href="/media/{{ file.original_file }}" download>{{ file }}</a> {{ file.original_file.size|sizify }}
                {% endif %}
                <br>
            {% endfor %}
        </div>
        <div class="container_footer">
            at {{ entry.creation_date|timesince|timesince_filter }}
        </div>
    </div>
</div>
