{% load datetime_extras %}
{% load static %}


<nav>
    <div class="left_corner">
        <img class="logo" src={% static "logo.png" %}>
    </div>
    <div class="right_corner">
        {% if user.display_name %}
           username: {{ user.display_name }}
        {% endif %}
        user_id: {{ user.identifier }} <br>
        created {{ user.created_at|timesince|timesince_filter }}
    </div>
    <div class="middle">
        <ul>
          <li><a href="{% url 'forum:home' %}">Home</a></li>
          <li><a href="{% url 'forum:category' %}">Categories</a></li>
          <li><a href="{% url 'forum:gallery' %}">Gallery</a></li>
        </ul>
    </div>
</nav>
