<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    {% include "components/../base/css.html" %}
</head>
<body class="bg-secondary">
    <div class="container bg-light p-4">
        <h1>Rules:</h1>
        1. PLACEHOLDER <br>
        2. PLACEHOLDER
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-success">I understand the rules and I accept the rules</button>
        </form>
    </div>
</body>
</html>