{% load datetime_extras %}


<div class="container">
    <div class="div1">
        <img class="user_icon" src={{ thread.creator.identicon.url }}>
    </div>
    <div class="div2">
        <div class="container_creator">
            created by: {{ thread.creator }} {{ thread.created_date|timesince|timesince_filter }}
        </div>
        <div class="container_header">
            <b>{{ thread.title }}</b>
        </div>
        <div class="container_content">
            {{ thread.description }}
        </div>
        {% if extra %}
            <div class="container_image">
                <img id="{{ thread.id }}_original" src="{{ thread.last_image.compressed_file.url }}">
            </div>
            <div class="container_footer">
                💬 {{ thread.total_number_of_entries }} comments
                Last update: {{ thread.update_date|timesince|timesince_filter }}
            </div>
        {% endif %}
    </div>
</div>
