{% extends "base/prerender.html" %}
{% block content %}
    <center>{% include "components/thread.html" with thread=thread %}</center>
    
    <section id="section_main">
        {% for entry in thread.entries %}
            {% include "components/entry.html" with entry=entry %}
        {% endfor %}
    </section>

    <div class="container fixed-bottom bg-light" id="new_form_button">
        <div
            hx-get="/forms/entryform/{{ thread.title }}"
            hx-target="#div_form"
            placeholder="Getting form..."
            onclick="toggle_new_form_button()"
        >
            GET FORM
        </div>
    </div>

    <script>
        function toggle_new_form_button(){
            let form = document.getElementById("new_form_button");
            if (form.hasAttribute("hidden")){
                form.removeAttribute("hidden")
            }else{
                form.setAttribute("hidden", "hidden")
            }
        }

        const form = document.getElementById("form");

        function add_reply(entry_id){
            let form_content = document.getElementById("id_content");
            form_content.append(" #" + entry_id + " ")
        }


        const main_section = document.getElementById("section_main");
        const thread_id = {{ thread.id }};
        const ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";

        const thread_update_socket = new WebSocket(
            ws_scheme + "://" + window.location.host + "/ws/thread/" + thread_id + "/"
        );

        thread_update_socket.onmessage = function(e) {
            const placeholder = document.createElement("div");
            placeholder.innerHTML = e.data;
            main_section.appendChild(placeholder.firstElementChild)
        };

        thread_update_socket.onclose = function(e) {
            console.error('Chat socket closed');
        };

        function toggle_resolution(id) {
            let compressed = document.getElementById(id + "_compressed")
            let original = document.getElementById(id+"_original")
            if (compressed.hasAttribute("hidden")){
                compressed.removeAttribute("hidden")
                original.setAttribute("hidden", "hidden")
            }else{
                original.removeAttribute("hidden")
                compressed.setAttribute("hidden", "hidden")
            }
        }
    </script>
{% endblock %}