{% extends "base/prerender.html" %}
{% block content %}
    <section id="section_main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    {% include "components/thread.html" with thread=thread %}
                </div>
                <div class="col-sm-8 mb-5 d-none d-lg-block">
                    <div class="bg-white p-2 text-center">Thread Popularity</div>
                    {{ graph }}
                </div>
            </div>
        </div>
        {% for entry in thread.entries %}
            {% include "components/entry.html" with entry=entry %}
        {% endfor %}
    </section>


    <div class="container fixed-bottom bg-secondary" id="div_form">
    </div>
    <div class="container fixed-bottom" id="new_form_button">
        <button class="btn-lg w-100 h-100 btn-success"
            hx-get="/forms/entryform/{{ thread.title }}"
            hx-target="#div_form"
            placeholder="Getting form..."
            onclick="toggle_new_form_button()"
        >
            Add comment
        </button>
        <snap class="sticky" id="alert_place"></snap>
    </div>

    <script>

        function add_reply(entry_id){
            let form_content = document.getElementById("id_content");
            form_content.append(" #" + entry_id + " ")
        }


        const main_section = document.getElementById("section_main");
        const thread_id = {{ thread.id }};
        const ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";

        const thread_update_socket = new WebSocket(
            ws_scheme + "://" + window.location.host + "/ws/thread/" + thread_id + "/"
        );

        thread_update_socket.onmessage = function(e) {
            const placeholder = document.createElement("div");
            let data = JSON.parse(e.data)
            console.log(data)
            placeholder.innerHTML = data.content;
            main_section.appendChild(placeholder.firstElementChild)
        };

        thread_update_socket.addEventListener('close', (event) => {
            let place = document.getElementById("alert_place");
            place.outerHTML = '<div class="alert alert-danger" role="alert">' +
                'Disconnected from the thread! New content will not be automatically displayed.' +
                '</div>'
        })
        thread_update_socket.onclose = function(e) {
            console.error('Chat socket closed');
        };

        function toggle_resolution(id) {
            let compressed = document.getElementById(id + "_compressed")
            let original = document.getElementById(id+"_original")
            if (compressed.hasAttribute("hidden")){
                compressed.removeAttribute("hidden")
                original.setAttribute("hidden", "hidden")
            }else{
                original.removeAttribute("hidden")
                compressed.setAttribute("hidden", "hidden")
            }
        }
    </script>
{% endblock %}