{% extends "base/prerender.html" %}
{% load datetime_extras %}
{% block content %}
    <div class="container">
    <table class="table" class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">identicon</th>
          <th scope="col">display_name</th>
          <th scope="col">identifier</th>
          <th scope="col"># of entries</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
            {% include "components/user_entry.html" with user=user %}
        {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}