{% load datetime_extras %}


<a href="/category/{{ category.name }}">
    <div class="media text-muted pt-3 border-bottom {{ additional_class }}">
{#        <img src="{{ category.creator.identicon.url }}" alt="">#}
        <p class="media-body pb-3 mb-0 small lh-125 border-gray">
            <strong class="d-block text-gray-dark">
                {{ category.name }}
            </strong>
            {{ category.description }}
        </p>
        {{ category.threads_amount }} active threads
    </div>
</a>