{% load static %}
{% load datetime_extras %}

<div class="container">
<a class="anchor" ></a>
<div class="card mb-2 entry" id="{{ entry.id }}">
    <div class="card-body p-2 p-sm-3">
        <div class="media forum-item">
            <a href="#" data-toggle="collapse" data-target=".forum-content">
                <img src="{{ entry.creator.identicon.url }}" class="mr-3" width="50" alt="User">
            </a>
            <div class="media-body">
                <h6>
                    <a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body">
                        {{ entry.creator }}
                    </a>
                </h6>
                <p class="text-secondary">
                    {% for part in entry.with_links %}
                        {% if part.safe %}
                            {{ part.value|safe }}
                        {% else %}
                            <pre>{{ part.value }}</pre>
                        {% endif %}
                    {% endfor %}
                    {% for file in entry.attached_files.all %}
                        {% include "components/displayable_file.html" with file=file %}
                    {% endfor %}
                </p>
                <p class="text-muted">
                    <span class="text-secondary font-weight-bold">
                        {{ entry.creation_date|timesince|timesince_filter }}
                    </span>
                </p>
            </div>

        </div>
    </div>
</div>
</div>