{% load crispy_forms_tags  %}
<form
    id='form'
    hx-encoding='multipart/form-data'
    hx-post='/forms/{{ endpoint }}'
    {{ additional_arguments|safe }}
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    class="bg-light p-2 shadow-lg rounded card"
    hx-target="this"
    hx-swap="outerHTML"
>
    {{ form|crispy }}
    <button type="button" class="btn btn-danger" onclick="delete_form()">Cancel</button>
    <button type="submit" class="btn btn-success">Upload</button>
    <br>
    <progress class="w-100 center" id='progress' value='0' max='100'></progress>
</form>
<script>
    function delete_form(){
        let form_to_delete = document.getElementById("form");
        form_to_delete.remove()
        toggle_new_form_button()
    }

    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
        htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
    });
</script>