{% load datetime_extras %}


<a href="/thread/{{ thread.title }}" class="text-decoration-none">
    <div class="card mb-5 shadow-sm">
        <div style="position: relative;">
            {% if thread.last_image %}
                <img class="card-img-top" src="{{ thread.last_image.compressed_file.url }}" alt="Card image cap">
                <img style="position: absolute; bottom:0; left:0;" class="user_icon" height="50px" src={{ thread.creator.identicon.url }}>
            {% endif %}
        </div>
        <div class="card-body">
            <small class="text-muted">
                {{ thread.creator }}
            </small>
            <h3>{{ thread.title }}</h3>
            <p class="card-text">{{ thread.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                    💬 {{ thread.total_number_of_entries }} comments <br>
                    Created: {{ thread.created_date|timesince|timesince_filter }} <br>
                    Last update: {{ thread.update_date|timesince|timesince_filter }}
                </small>
            </div>
        </div>
    </div>
</a>